<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sed temporibus ducimus reiciendis? Quos provident cumque nemo optio delectus, adipisci voluptatum omnis aliquid officiis error, quae harum sequi dolore sint.</p>
</body>
</html>